.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 55px;
  }
  
  .baloon {
    position: absolute;
    left: 400px;
    top: 130px;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    left: 420px;
    top: 160px;
    z-index: 1;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    left: 700px;
    top: 220px;
  }